@{
    Layout = @"~/Views/Shared/_LoginLayout.cshtml";
}

<main class="form-signin">
    <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>

    <div class="form-floating">
        <input type="email" class="form-control my-2" id="username" placeholder="Username">
        <label for="username">Username</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control my-2" id="password" placeholder="Password">
        <label for="password">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" id="submitBtn">Sign in</button>
</main>
